<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <appSettings>
    <add key="app_id" value="73712a33a535423cb889c69ad74f577d" />
    <add key="filePath" value="C:\Users\shayi\Desktop\test.xml"/>
    <add key="latestJson" value="latest.json" />
    <add key="openExchangeBasicUrl" value="https://openexchangerates.org/api/" />
  </appSettings>
</configuration>